@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html {
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    max-width: 70%;
	margin: 0 auto;
}

.carousel{
	/* border: 1px solid green; */
	display: block;
	width: 100%;
}

.cards-container {
	/* border: red solid 1px; */
	display: flex!important;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.error {
	background-color: #DF1515;
	padding: 10px;
	color: white;
}

body {
	min-height: 100vh;
	background-color: #222a3b!important;
}