@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

html {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Scroll Bar Styles */
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.border {
    border: 1px red solid;
}