@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html {
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    max-width: 70%;
	margin: 0 auto;
	min-height: 80vh;
}

.cards-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.error {
	background-color: #DF1515;
	padding: 10px;
	color: white;
}

body {
	min-height: 100vh;
	background: rgba(34,42,59,1);
	background: -moz-linear-gradient(top, rgba(34,42,59,1) 17%, rgba(39,46,62,1) 28%, rgba(69,73,79,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(17%, rgba(34,42,59,1)), color-stop(28%, rgba(39,46,62,1)), color-stop(100%, rgba(69,73,79,1)));
	background: -webkit-linear-gradient(top, rgba(34,42,59,1) 17%, rgba(39,46,62,1) 28%, rgba(69,73,79,1) 100%);
	background: -o-linear-gradient(top, rgba(34,42,59,1) 17%, rgba(39,46,62,1) 28%, rgba(69,73,79,1) 100%);
	background: -ms-linear-gradient(top, rgba(34,42,59,1) 17%, rgba(39,46,62,1) 28%, rgba(69,73,79,1) 100%);
	background: linear-gradient(to bottom, rgba(34,42,59,1) 17%, rgba(39,46,62,1) 28%, rgba(69,73,79,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222a3b', endColorstr='#45494f', GradientType=0 );
	background-repeat: no-repeat;
}