@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html {
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    max-width: 70%;
	margin: 0 auto;
}

.cards-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.error {
	background-color: #DF1515;
	padding: 10px;
	color: white;
}